<div id="<%= dom_id tarefa %>">
  <div>
    <strong>Titulo:</strong>
    <%= tarefa.titulo %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= tarefa.descricao %>
  </div>

  <div>
    <strong>Concluida:</strong>
    <%= tarefa.concluida %>
  </div>

</div>
